/* src/index.css */

/* Reset default margins/paddings and prevent scrolling */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(240, 240, 240);
  box-sizing: border-box; 
}
